{% macro breadcrumbs (entries, prev, next, pathto) %}
    {% if entries %}
        <div class="bd-breadcrumb">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    {% for entry in entries %}
                        <li class="{{ 'is-active' if entry.is_active else '' }}">
                            <a href="{{ pathto(entry.docname, 0) }}">{{ entry.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <nav class="bd-prev-next">
                {% if prev %}
                    <a href="{{ prev.link }}"
                       title="{{ prev.title }}">
                        ←
                    </a>
                {% endif %}

                {% if next %}
                    <a href="{{ next.link }}"
                       title="{{ next.title }}">
                        →
                    </a>
                {% endif %}
            </nav>
        </div>
    {% endif %}
{% endmacro %}

{% macro heading (title, subtitle, logo, website) %}
    <header class="bd-header">
        {% if logo %}
            <article class="media">
                {% if logo %}
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="{{ logo }}">
                        </p>
                    </figure>
                {% endif %}
                <div class="media-content">
                    <div class="content">
                        <div class="title is-2">
                            {{ title }}
                        </div>
                        <p>
                            {{ subtitle }}
                        </p>
                        {% if website %}
                            <p>
                                <a href="{{ website }}">Website</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </article>
        {% else %}
            <div class="bd-header-titles">
                <h1 class="title">
                    {{ title }}
                </h1>
                <p class="subtitle is-4">
                    {{ subtitle | safe }}
                </p>
            </div>
        {% endif %}
    </header>
{% endmacro %}

{% macro tabs (entries) %}
    {% if entries %}
        <nav class="bd-tabs">
            <div class="tabs">
                <ul>
                    {% for entry in entries %}
                        <li class="{{ 'is-active' if entry.is_active else '' }}">
                            <a href="{{ entry.href }}">
                                {{ entry.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    {% endif %}
{% endmacro %}

{% macro subsections (entries, pathto) %}
    {% if entries %}
        <nav class="bd-links">
            {% for entry in entries %}
                <a class="bd-link"
                   href="{{ pathto(entry.docname, 0) }}">

                    <h2 class="bd-link-name">
                        <figure class="bd-link-figure">
                            {% if entry.logo %}
                                <img src="{{ entry.logo }}">
                            {% elif entry.headshot_thumbnail %}
                                <figure class="image is-rounded is-64x64">
                                    <p class="image">
                                        <img src="{{ pathto(entry.headshot_thumbnail, 1) }}">
                                    </p>
                                </figure>
                            {% else %}
                                <span class="bd-link-icon has-text-{{ entry.accent }}">
                                    <i class="{{ entry.icon }}"></i>
                                </span>
                            {% endif %}
                        </figure>
                        {{ entry.label }}
                    </h2>
                    <p class="bd-link-subtitle">
                        {{ entry.subheading | safe }}
                    </p>

                </a>
            {% endfor %}
        </nav>
    {% endif %}
{% endmacro %}

{% macro sidebar (entries, pathto) %}
    {% if entries %}
        <aside class="bd-side">
            <nav id="categories" class="bd-categories">
                {% for topentry in entries %}
                    <div class="bd-category {{ 'is-active' if topentry.is_active else '' }}">
                        <header class="bd-category-header">
                            <a class="bd-category-toggle">
                                <span class="icon">
                                    <i class="fas fa-chevron-down"></i>
                                </span>
                            </a>
                            <a class="bd-category-name "
                               href="{{ pathto(topentry.docname, 0) }}">
                                <strong>{{ topentry.label }}</strong>
                                {% if topentry.is_new %}
                                    <span class="tag is-success">
                                        New!
                                    </span>
                                {% endif %}
                            </a>
                        </header>

                        {% if topentry.entries %}
                            <ul class="bd-category-list">
                                {% for subentry in topentry.entries %}
                                    <li>
                                        <a href="{{ pathto(subentry.docname, 0) }}">
                                            {{ subentry.label }}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% if topentry.entries | length %}
                                    <li>
                                        <a href="{{ pathto(topentry.docname, 0) }}">
                                            All...
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </nav>
        </aside>
    {% endif %}
{% endmacro %}

{% macro resultbox(entries, pathto) %}
    {% for entry in entries %}
        <div class="kbb-fl-result box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64 }">
                        <img src="{{ entry.logo }}"/>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a href="{{ pathto(entry.docname, 0) }}">
                                <strong>{{ entry.title }}</strong>
                            </a>
                            <br/>
                            <span>{{ entry.excerpt }}</span>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            {% if entry.author and entry.rtype != 'author' %}
                                <a class="level-item kbb-fl-author"
                                   href="{{ entry.author.href + '.html' }}">
                                    <figure class="image is-rounded is-24x24"
                                            style="margin-right: 0.2em">
                                        {% if entry.author.thumbnail_url %}
                                            <img src="{{ entry.author.thumbnail_url }}"
                                                 height="24" width="24"/>
                                        {% endif %}
                                    </figure>
                                    <span>{{ entry.author.title }}</span>
                                </a>
                            {% endif %}
                            {% if entry.references %}
                                <span class="level-item">
                                    <div class="tags">
                                        {% for reference in entry.references %}
                                            <span class="tag is-rounded">
                                                <a href="{{ reference.href + '.html' }}">
                                                    {{ reference.label }}
                                                </a>
                                            </span>
                                        {% endfor %}
                                    </div>
                                </span>
                            {% endif %}
                        </div>
                        <div class="level-right is-size-7 has-text-grey">
                            {% if entry.duration %}
                                <span class="kbb-fl-duration level-item">
                                    <span class="icon">
                                        <i class="fas fa-video"></i>
                                    </span>
                                    <span>{{ entry.duration }}</span>
                                </span>
                            {% endif %}
                            <span class="level-item">
                                {{ entry.published.strftime('%Y-%m-%d') }}
                            </span>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    {% endfor %}
{% endmacro %}

{% macro article_sidebar (resource, resources, references, prev, next, steps, pathto) %}
    <aside class="bd-side kbb-sidenav">

        <div id="kb-sidenav-published-heading">
            {% set authors = references.resource_references(resource)['author'] %}

            {% if resource.is_published %}
                <p class="menu-label">
                    Published
                </p>
                <ul class="menu-list">
                    <li>
                        Published
                        {{ resource.props.published.strftime('%Y-%m-%d') }}
                        {% if authors %}
                            by:
                            {% for author in authors %}
                                <a href="{{ pathto(author.docname) }}">
                                    <article class="media"
                                             style="margin-top: 0.5em; ">
                                        <figure class="media-left image is-rounded is-24x24"
                                                style="margin-right: 0.5em">
                                            <p class="image is-24x24">
                                                <img src="{{ pathto(author.headshot_thumbnail('icon_24'), 1) }}">
                                            </p>
                                        </figure>
                                        <div class="media-content">
                                            <span style="display: inline-block; vertical-align: sub">{{ author.title }}</span>
                                        </div>
                                    </article>

                                </a>
                            {% endfor %}
                        {% endif %}
                    </li>
                </ul>
            {% else %}
                <p class="menu-label">
                    Draft
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="#">
                            This article does not have a
                            current published date.
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>

        {% if prev %}
            <p class="menu-label">
                Previous
            </p>
            <ul class="menu-list">
                <a href="{{ prev.link|e }}"
                   title="{{ _('previous chapter') }}">{{ prev.title }}</a>
            </ul>
        {% endif %}

        {% if next %}
            <p class="menu-label">
                Next
            </p>
            <ul class="menu-list">
                <a href="{{ next.link|e }}"
                   title="{{ _('next chapter') }}">{{ next.title }}</a>
            </ul>
        {% endif %}




        {% for reference_label in resource.props.references.keys() %}
            {% if reference_label != 'author' %}
                <p class="menu-label">
                    <span style="text-transform: uppercase">{{ reference_label }}</span>
                </p>
                <p>
                    {% for reference in references.resource_references(resource)[reference_label] %}
                        <a href="{{ pathto(reference.docname, 0) }}">
                            <span class="tag">{{ reference.props.label }}</span>
                        </a>
                    {% endfor %}
                </p>
            {% endif %}
        {% endfor %}


        {% if steps %}
            <p class="menu-label">
                Tutorial Steps
            </p>

            <ul class="steps is-vertical is-small menu-list">
                {% for step_docname in steps %}
                    {% set step = resources[step_docname] %}
                    {% set is_active = step_docname ==  resource.docname %}
                    {% set marker = 'is-info' if is_active else 'is-primary' %}
                    <li class="steps-segment">
                        <span href="{{ pathto(step_docname) }}"
                              class="steps-marker {{ marker }}">{{ loop.index }}</span>
                        <div class="steps-content">
                            <a href="{{ pathto(step_docname) }}">{{ step.title }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}


    </aside>
{% endmacro %}