{% macro brand(
    img_file,
    href,
    github_url,
    twitter_url,
    alt
    ) -%}
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ href }}">
            <img src="{{ img_file }}"
                 alt={{ alt }}>
        </a>
        <a class="navbar-item is-hidden-desktop"
           href="{{ github_url }}" target="_blank">
            <span class="icon" style="color: #333;">
                <i class="fab fa-lg fa-github-alt"></i>
            </span>
        </a>

        <a class="navbar-item is-hidden-desktop"
           href="{{ twitter_url }}" target="_blank">
            <span class="icon" style="color: #55acee;">
                <i class="fab fa-lg fa-twitter"></i>
            </span>
        </a>

        <div id="navbarBurger" class="navbar-burger burger"
             data-target="navMenuIndex">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
{%- endmacro %}


{% macro start(entries) %}
    <div class="navbar-start">
        <a class="navbar-item bd-navbar-item-documentation"
           style="margin-left: -1em; margin-right: 1em"
           href="/">
            <span>PyCharm Guide</span>
        </a>
        {% for entry in entries %}
            {% if entry.submenu %}
                <div class="navbar-item has-dropdown is-hoverable">

                    <a class="navbar-link" href="#">
                        {{ entry.label }}
                    </a>
                    <div id="moreDropdown" class="navbar-dropdown">
                        {% for subentry in entry.submenu %}
                            <a class="navbar-item " href="{{ subentry.href }}">
                                <span>
                                    {{ entry_icon(subentry.accent, subentry.icon) }}
                                    <strong>{{ subentry.label }}</strong>
                                    {% if subentry.description %}
                                        <br>
                                        {{ subentry.description }}
                                    {% endif %}
                                </span>
                            </a>
                            {% if not loop.last %}
                                <hr class="navbar-divider">
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            {% else %}
                <a class="navbar-item bd-navbar-item-{{ entry.css_class }}"
                   href="{{ entry.href }}">
                    {% from 'macros/navbar.html' import entry_icon %}
                    {{ entry_icon(entry.accent, entry.icon) }}
                    {% if entry.label_narrow %}
                        <span class="is-hidden-touch is-hidden-widescreen">
                            {{ entry.label_narrow }}
                        </span>
                        <span class="is-hidden-desktop-only">
                            {{ entry.label }}
                        </span>
                    {% else %}
                        <span>{{ entry.label }}</span>
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}



        <div class="navbar-item has-dropdown is-hoverable">

            <a class="navbar-link" href="#">
                More
            </a>

            <div id="moreDropdown" class="navbar-dropdown">


                <a class="navbar-item " href="#">
                    <span>
                        <span class="icon has-text-success">
                            <i class="fas fa-rocket"></i>
                        </span>
                        <strong>About</strong>
                        <br>
                        The PyCharm Guide story
                    </span>
                </a>

                <hr class="navbar-divider">


                <a class="navbar-item " href="#">
                    <span>
                        <span class="icon has-text-primary">
                            <i class="fas fa-certificate"></i>
                        </span>
                        <strong>Participate</strong>
                        <br>
                        Join us in making the Guide's content
                        and software
                    </span>
                </a>

            </div>
        </div>


    </div>
{% endmacro %}

{% macro entry_icon(accent, icon) %}
    {% if icon %}
        <span class="icon has-text-{{ accent }}">
            <i class="fas fa-{{ icon }}"></i>
        </span>
    {% endif %}
{% endmacro %}

{% macro end(links, buttons) %}
    <div class="navbar-end">
        {% for link in links %}
            <a class="navbar-item is-hidden-touch is-hidden-desktop-only"
               href="{{ link.href }}"
               target="_blank">
                <span class="icon"
                      style="color: {{ '#' }}{{ link.color }}">
                    <i class="fab fa-lg fa-{{ link.icon }}"></i>
                </span>
            </a>
        {% endfor %}

        {% if buttons %}
            <div class="navbar-item">
                <div class="field is-grouped is-grouped-multiline">
                    {% for button in buttons %}
                        <p class="control">
                            <a class="button is-{{ button.accent }}"
                               href="{{ button.href }}">
                                <strong>{{ button.label }}</strong>
                            </a>
                        </p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro %}