include *.rst *.txt LICENSE tox.ini .travis.yml docs/Makefile kaybee_bulma/theme.conf
recursive-include kaybee_bulma *
recursive-include kaybee_bulma/resources *
recursive-include kaybee_bulma/widgets *
prune docs/_build

# Extraneous files.
global-exclude .DS_Store
global-exclude *.pyc
