<div class="kbb-fl">
    {% for resource in listing %}
        <div class="kbb-fl-result box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64 }">
                        {% set logo = resource.logo if resource.logo else "https://cdn.worldvectorlogo.com/logos/python-5.svg" %}
                        <img src="{{ logo }}"/>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a href="{{ toctree.pathto_docname(resource.href) + '.html' }}">
                                <strong>{{ resource.title }}</strong>
                            </a>
                            <br/>
                            <span>{{ resource.excerpt }}</span>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            {% if resource.author %}
                                <a class="level-item kbb-fl-author"
                                   href="{{ resource.author.href + '.html' }}">
                                    <figure class="image is-rounded is-24x24">
                                        {% if resource.author.thumbnail_url %}
                                            <img src="{{ resource.author.thumbnail_url }}"
                                                 height="24" width="24"/>
                                        {% endif %}
                                    </figure>
                                    <span>{{ resource.author.title }}</span>
                                </a>
                            {% endif %}
                            {% if resource.references %}
                                <span class="level-item">
                                    <div class="tags">
                                        {% for reference in resource.references %}
                                            <span class="tag is-rounded">
                                                <a href="{{ reference.href + '.html' }}">
                                                    {{ reference.label }}
                                                </a>
                                            </span>
                                        {% endfor %}
                                    </div>
                            </span>
                            {% endif %}
                        </div>
                        <div class="level-right is-size-7 has-text-grey">
                            {% if resource.props.duration %}
                                <span class="kbb-fl-duration level-item">
                                    <span class="icon">
                                        <i class="fas fa-video"></i>
                                    </span>
                                    <span>{{ resource.props.duration }}</span>
                                </span>
                            {% endif %}
                            <span class="level-item">
                                {{ resource.props.published }}
                            </span>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    {% endfor %}
</div>