#kbb-fl {
  .kbb-sidebargroup {
    margin-bottom: 2rem;

    .kbb-label {
      padding-left: 0.4rem;
    }
  }

  .kbb-fl-author span {
    padding-left: 0.4em;
  }

  .kbb-pagination {
    margin-top: 2rem;
    ul {
      list-style: none;
    }
  }
}
