{% extends 'layout.html' %}
{% from 'macros/article.html' import breadcrumbs, heading, resultbox, sidebar %}
{% block body %}
    <main class="bd-main">
        <div class="bd-side-background"></div>
        <div class="bd-main-container container">
            <div class="bd-duo">
                <div class="bd-lead">
                    {{ heading(title=resource.title, subtitle=resource.excerpt,
                            logo=None,
                            website=resource.props.website,
                            headshot_thumbnail=resource.headshot_thumbnail('icon_96'),
                            pathto=pathto
                            ) }}

                    <div class="bd-content">
                        {{ resultbox(
                        entries=resource.section_entries(resources, references), pathto=pathto
                        ) }}
                    </div>
                </div>
                {{ sidebar(entries=sidebar_entries, pathto=pathto) }}
            </div>
        </div>
    </main>
{% endblock %}

