@import "../../../node_modules/bulma/sass/utilities/derived-variables";

footer.footer.is-link {
  background-color: $link;
  color: $link-invert;
  a {
    color: $link-invert;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: dashed white;
  }
}

footer.footer.is-primary {
  background-color: $primary;
  color: $primary-invert;
  a {
    color: $primary-invert;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: dashed white;
  }
}

footer.footer.is-danger {
  background-color: $danger;
  color: $danger-invert;
  a {
    color: $danger-invert;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: dashed white;
  }
}

footer.footer.is-info {
  background-color: $info;
  color: $info-invert;
  a {
    color: $info-invert;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: dashed white;
  }
}

footer.footer.is-warning {
  background-color: $warning;
  color: $warning-invert;
  a {
    color: $warning-invert;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: dashed white;
  }
}

footer.footer.is-dark {
  background-color: $dark;
  color: $dark-invert;
  a {
    color: $dark-invert;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: dashed white;
  }
}
