// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

.kbb-filteredlisting {
  .kbb-sidebargroup {
    padding-bottom: 2rem;

    .kbb-label {
      padding-left: 0.4rem;
    }
  }

  .kbb-author span {
    padding-left: 0.4em;
  }

  .kbb-pagination {
    margin-top: 2rem;
  }
}

// 6. Import the rest of Bulma
@import "../node_modules/bulma/bulma";
